@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido al simulador de simp, oniichan  :v  </h1>
    <br />
    <p>Tabla de simps:</p>

    

    @{List<Simp> simps = ViewBag.simps;}

    

    <table>
        <tr>
            <th>Simp name</th>
            <th>Simp level</th>
            <th>Simp money left</th>
        </tr>

        @foreach (var simp in simps)
        {
            <tr>
                <td>@simp.simpName</td>
                <td>@simp.simpLevel</td>
                <td>@simp.simpMoneyLeft</td>
            </tr>

        }
        
    </table>


    @{Console.WriteLine("Pagar por onlyfans no me hace un simp - Simp, 2022"); }

</div>
