@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido al simulador de simp, oniichan  :v  </h1>
    <br />
    <p>Tabla de simps:</p>

    @{int simpMoney = 20000; }


    <table>
        <tr>
            <th>simp name</th>
            <th>simp level</th>
            <th>simp money left</th>
        </tr>
        <tr>
            <td>ismaelo</td>
            <td>9001</td>
            <td>simpMoney</td>
        </tr>
    </table>


    @{Console.WriteLine("Pagar por onlyfans no me hace un simp - Simp, 2022"); }

</div>
